:root {
    --bg-color: #fff;
    --text-color: #333;
    --link-hover-color: #48c;
    --border-color: #000;
    --error-color: #900;
    --warn-color: #860;
    --info-color: #037;
    --comment: #985;
    --label: #279;
    --label_reference: #c25;
    --instruction: #7a3;
    --number: #934;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --text-color: #eee;
        --link-hover-color: #9cd;
        --border-color: #666;
        --error-color: #f77;
        --warn-color: #fc7;
        --info-color: #aaf;
        --comment: #775;
        --label: #6de;
        --label_reference: #e27;
        --instruction: #ad3;
        --number: #b57;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 12pt;
    display: grid;
    grid-template-rows: auto 1fr;
    height: calc(100svh - 1rem);
}

h1,h2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--link-hover-color);
}

select {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 0.375rem;
    background: var(--bg-color);
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
    font-size: 11pt;
}

button {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 0.375rem;
    background: var(--bg-color);
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
    font-size: 11pt;
    cursor: pointer;
    transition: opacity 0.2s;
}

table {
    border-radius: 0.375rem;
    width: 100%;
    margin: 1rem 0;
    border-spacing: 0;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: var(--bg-color);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: color-mix(in srgb, var(--bg-color) 95%, var(--text-color) 5%);
}

tr:hover {
    background-color: color-mix(in srgb, var(--bg-color) 90%, var(--text-color) 10%);
}

tr:first-child th:first-child {
  border-top-left-radius: 0.375rem;
} tr:first-child th:last-child {
  border-top-right-radius: 0.375rem;
} tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem;
} tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem;
}

.editor-bar {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.error {
    color: var(--error-color);
    margin: 0;
}

.warn {
    color: var(--warn-color);
    margin: 0;
}

.info {
    color: var(--info-color);
    margin: 0;
}

.ace_comment {
    color: var(--comment);
}

.ace_label {
    color: var(--label);
}

.ace_label_reference {
    color: var(--label_reference);
}

.ace_instruction {
    color: var(--instruction);
}

.ace_number {
    color: var(--number);
}

.box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    height: 100%;
}

.scroll {
    overflow-y: auto;
    height: 100%;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 100%;
    }

    #editor {
        min-height: 70svh;
    }

    body {
        height: fit-content;
    }
}

#editor {
    border: 2px solid var(--border-color);
    border-radius: 0.375rem;
    width: calc(100% - 0.375rem);
    margin-bottom: 16pt;
    flex: 1;
}

.ace_dialog input, #asm-output {
    font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
}

#copy-label {
    display: none;
    position: absolute;
    background: var(--bg-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 0.375rem;
    pointer-events: none;
}

.hidden {
    display: none;
}
